#history {
    overflow: scroll;
    height: 25%;
}

.keyboard-section {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(7, auto);
    gap: 5px 5px;
    max-width: fit-content;
    max-height: fit-content;
}
.grid-item {
    /* add font size*/
    
}
